@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Recupera datos de sesión
    var token = HttpContextAccessor.HttpContext!.Session.GetString("Token");
    var nombre = HttpContextAccessor.HttpContext.Session.GetString("Nombre");
    var rolNombre = HttpContextAccessor.HttpContext.Session.GetString("DescripcionTipoUsuario");
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>@ViewData["Inicio"] - Prueba</title>

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Kanit:300,400,500,500i,600,900%7CRoboto:400,900">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="preloader">
        <div class="preloader-body">
            <div class="preloader-item"></div>
        </div>
    </div>

    <div class="page">
        <!-- Header -->
        <header class="section page-header rd-navbar-dark">
           
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic"
                     data-layout="rd-navbar-fixed"
                     data-sm-layout="rd-navbar-fixed"
                     data-md-layout="rd-navbar-fixed"
                     data-md-device-layout="rd-navbar-fixed"
                     data-lg-layout="rd-navbar-fixed"
                     data-lg-device-layout="rd-navbar-fixed"
                     data-xl-layout="rd-navbar-static"
                     data-xl-device-layout="rd-navbar-static"
                     data-xxl-layout="rd-navbar-static"
                     data-xxl-device-layout="rd-navbar-static"
                     data-lg-stick-up-offset="166px"
                     data-xl-stick-up-offset="166px"
                     data-xxl-stick-up-offset="166px"
                     data-lg-stick-up="true"
                     data-xl-stick-up="true"
                     data-xxl-stick-up="true">
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-main"><span></span></button>
                        <div class="rd-navbar-panel-inner container">
                            <div class="rd-navbar-collapse rd-navbar-panel-item rd-navbar-panel-item-left">
                                <div class="owl-carousel-navbar owl-carousel-inline-outer">
                                    <div class="owl-inline-nav">
                                        <button class="owl-arrow owl-arrow-prev"></button>
                                        <button class="owl-arrow owl-arrow-next"></button>
                                    </div>
                                    <div class="owl-carousel-inline-wrap">
                                        <div class="owl-carousel owl-carousel-inline"
                                             data-items="1" data-dots="false" data-nav="true"
                                             data-autoplay="true" data-autoplay-speed="3200"
                                             data-stage-padding="0" data-loop="true"
                                             data-margin="10" data-mouse-drag="false"
                                             data-touch-drag="false" data-nav-custom=".owl-carousel-navbar">
                                            <article class="post-inline">
                                                <time class="post-inline-time">Octubre 19, 2025</time>
                                                <p class="post-inline-title">Santis vs Chocotorros</p>
                                            </article>
                                            <article class="post-inline">
                                                <time class="post-inline-time">Abril 15, 2025</time>
                                                <p class="post-inline-title">Florenses vs Ligax</p>
                                            </article>
                                            <article class="post-inline">
                                                <time class="post-inline-time">Agosto 35, 2025</time>
                                                <p class="post-inline-title">The boys vs SalasTeam</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Logo centrado -->
                            <div class="rd-navbar-logo-center">
                                <a class="brand" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/logo.png" alt="Logo Mejenguera" style="max-height: 90px;" class="responsive-logo" />
                                </a>
                            </div>

                            <div class="rd-navbar-panel-item rd-navbar-panel-item-right">
                                <ul class="list-inline list-inline-bordered">
                                    @if (string.IsNullOrEmpty(token))
                                    {
                                        <li>
                                            <a class="link link-classic" asp-controller="Login" asp-action="RegistrarUsuario">
                                                Registrarme
                                            </a>
                                        </li>
                                        <li>
                                            <a class="link link-classic" asp-controller="Login" asp-action="IniciarSesion">
                                                Iniciar Sesión
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-inline-item">
                                            <a class="link link-classic" asp-controller="Usuario" asp-action="PerfilUsuario" title="Ver mi perfil">
                                                Hola, @nombre!
                                            </a>
                                        </li>

                                        <li class="list-inline-item">
                                            <a class="link link-classic" asp-controller="Login" asp-action="CerrarSesion">
                                                Cerrar Sesión
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1"
                                 data-rd-navbar-toggle=".rd-navbar-collapse">
                                <span></span>
                            </div>
                        </div>
                    </div>

                    <div class="rd-navbar-main">
                        <div class="rd-navbar-main-top">
                            <div class="rd-navbar-main-container container">
                                <div class="rd-navbar-search">
                                    <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search">
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="rd-navbar-main-bottom rd-navbar-darker">
                            <div class="rd-navbar-main-container container">
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" asp-controller="Usuario" asp-action="PerfilUsuario">Mi perfil</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" asp-controller="Cancha" asp-action="Index">Canchas</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" asp-controller="Torneos" asp-action="ConsultarTorneos">Torneos</a>
                                    </li>

                                    @* Solo visible para Administradores *@
                                    @if (rolNombre == "Administrador")
                                    {
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" asp-controller="Categoria" asp-action="Index">Categorías</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" asp-controller="Facturas" asp-action="Index">Facturas</a>
                                        </li>
                                    }

                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="Partidos">Partidos</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()

        <footer class="section footer-classic footer-classic-dark context-dark">
            <div class="footer-classic-aside footer-classic-darken">
                <div class="container">
                    <div class="layout-justify">
                        <p class="rights">
                            <span>Grupo 4 Proyecto Progra Avanzada</span>
                            <span>&copy;</span>
                            <span class="copyright-year">2025</span>
                        </p>
                        <nav class="nav-minimal">
                            <ul class="nav-minimal-list">
                                <li class="active"><a href="index.html">Inicio</a></li>
                                <li><a href="#">Torneos</a></li>
                                <li><a href="/Cancha">Canchas</a></li>
                                <li><a href="#">Partidos</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>

        <div class="modal modal-video fade" id="modal1" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315"
                                    data-src="https://www.youtube.com/embed/uSzNA2_y46c" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="snackbars" id="form-output-global"></div>
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
